{% extends 'base.html' %}
{% load static %}

{% block title %}Panel de Empresa - NetConnect{% endblock %}

{% block content %}
<div class="container mt-2"> 
    
    <!-- Nombre de la empresa y logo -->
    {% if user.is_company %}
    <div class="row align-items-center mb-2">
        <div class="col-md-6 text-start">
            <h1 class="mb-2"><span style="color: #001f3f; font-family: 'Poppins', sans-serif; font-weight: 600;">{{ user.company.name }}</span></h1>
        </div>
        <div class="col-md-6 text-end">
            <img src="{{ user.company.logo.url }}" alt="Logo de {{ user.company.name }}" class="img-fluid" style="width: 120px; height: 120px; object-fit: contain; border-radius: 10px;">
        </div>
    </div>
    {% endif %}

    <!-- Línea divisora -->
    <hr style="border: 1px solid #001f3f; margin-top: 0;">

    <!-- Título de la página -->
    <h1 class="mb-1"><span style="color: #001f3f; font-family: 'Poppins', sans-serif; font-weight: 600;">Bienvenido al panel de empresas</span></h1>
    <p>Desde aquí podrás gestionar tus eventos y ver información relevante sobre los eventos que has creado. <strong>Gestiona toda la logística del evento y los asistentes desde un solo lugar.</strong></p>

    {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <!-- Eventos organizados por la empresa -->
    <h3 class="mt-5">Eventos organizados por {{ user.company.name }}</h3>
    <div class="row">
        {% if user.company.organized_events.all %}
        {% for event in user.company.organized_events.all %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 d-flex flex-column">
                <div class="card-body flex-grow-1">
                    <h5 class="card-title">{{ event.name }}</h5>
                    <p><img src="{% static 'images/fecha.png' %}" alt="Fecha" style="width: 20px; margin-right: 10px;"> {{ event.date }}</p>
                    <p><img src="{% static 'images/ubicacion.png' %}" alt="Ubicación" style="width: 20px; margin-right: 10px;"> {{ event.location }}</p>
                    <p><strong>Número de Asistentes:</strong> {{ event.attendees.count }}</p>
                </div>
                
                <div class="accordion mt-auto" id="accordionAsistentes{{ forloop.counter }}">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingAsistentes{{ forloop.counter }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAsistentes{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseAsistentes{{ forloop.counter }}">
                                Ver asistentes
                            </button>
                        </h2>
                        <div id="collapseAsistentes{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="headingAsistentes{{ forloop.counter }}" data-bs-parent="#accordionAsistentes{{ forloop.counter }}">
                            <div class="accordion-body text-start"> 
                                <ul>
                                    {% for attendee in event.attendees.all %}
                                        <li>{{ attendee.email }}</li>
                                    {% empty %}
                                        <li>No hay asistentes registrados.</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="accordion mt-auto" id="accordionEvent{{ forloop.counter }}">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                                Ver empresas participantes
                            </button>
                        </h2>
                        <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordionEvent{{ forloop.counter }}">
                            <div class="accordion-body text-start">
                                <ul>
                                    {% for company in event.participants.all %}
                                        <li>{{ company.name }}</li>
                                    {% empty %}
                                        <li>No hay empresas participantes para este evento.</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <form method="POST" action="{% url 'companies' %}" style="display: inline-block;">
                                {% csrf_token %}
                                <input type="hidden" name="delete_event_id" value="{{ event.id }}">
                                <button type="submit" class="btn btn-danger" onclick="return confirm('¿Seguro que quieres eliminar este evento?')">Eliminar evento</button>
                            </form>
                            <button class="btn" style="background-color: #001f3f; color: white; margin-left: 10px;">Modificar evento</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                
        {% endfor %}
        {% else %}
        <p>No ha organizado ningún evento.</p>
        {% endif %}
    </div>

    <!-- Crear nuevos eventos -->
    <h2 class="mb-4 mt-5">Organizar un nuevo evento</h2>
    <p>¿Listo para organizar un nuevo evento? Completa el formulario a continuación y nosotros nos encargamos del resto.</p>

    <button class="btn btn-primary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#eventForm" aria-expanded="false" aria-controls="eventForm" style="background-color: #001f3f; border-color: #00008b;">
        Crear un evento
    </button>

    <div class="collapse" id="eventForm">
        <div class="card card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="create_event" value="1">  
                <button type="submit" class="btn btn-primary" style="background-color: #001f3f; border-color: #00008b;">Crear evento</button>
            </form>
        </div>
    </div>

    <!-- Datos de asistentes (Futura entrega) -->
    <h2 class="mt-5">Datos de asistentes</h2>
    <p>Aquí podrás ver datos relacionados con los asistentes a tus eventos.</p>
</div>
{% endblock %}