{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio - NetConnect{% endblock %}

{% block content %}

<!-- Título y foto -->
<div class="hero-section position-relative" style="height: 80vh; background-image: url('{% static 'images/fondo.jpg' %}'); background-size: cover; background-position: center; width: 100%;">
    <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-75"></div>
    <div class="hero-content position-absolute top-50 translate-middle-y text-white" style="z-index: 1; font-family: 'Poppins', sans-serif; padding-left: 100px;">
        <h3 class="display-4 fw-bold">Somos</h3>
        <h1 class="display-1 fw-bold">NetConnect</h1>
        <h4 class="lead fw-bold"><span style="color: #00b359;">CREA CONEXIONES VALIOSAS</span></h4>
    </div>
</div>

<div class="container text-center mt-5">
    <p><strong>Crea conexiones valiosas y lleva tu carrera profesional al siguiente nivel</strong> con NetConnect. Aquí podrás informarte sobre eventos que ocurren en Colombia y acceder a toda la información necesaria desde la comodidad de tu hogar. ¡Nunca más vuelvas a perder una oportunidad laboral!</p>
</div>

<!-- Ciudades (fotos y texto) -->
<div class="container text-center mt-5">
    <h2>Tenemos presencia en <strong>las principales ciudades de Colombia</strong></h2>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3 text-center">
            <img src="{% static 'images/bogota.jpg' %}" alt="Bogotá" class="img-fluid rounded" style="height: 200px; width: 100%;">
            <h6>Bogotá</h6>
        </div>
        <div class="col-md-3 text-center">
            <img src="{% static 'images/medellin.jpg' %}" alt="Medellín" class="img-fluid rounded" style="height: 200px; width: 100%;">
            <h6>Medellín</h6>
        </div>
        <div class="col-md-3 text-center">
            <img src="{% static 'images/cali.jpg' %}" alt="Cali" class="img-fluid rounded" style="height: 200px; width: 100%;">
            <h6>Cali</h6>
        </div>
        <div class="col-md-3 text-center">
            <img src="{% static 'images/barranquilla.jpg' %}" alt="Barranquilla" class="img-fluid rounded" style="height: 200px; width: 100%;">
            <h6>Barranquilla</h6>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-3 text-center">
            <img src="{% static 'images/cartagena.jpg' %}" alt="Cartagena" class="img-fluid rounded" style="height: 200px; width: 100%;">
            <h6>Cartagena</h6>
        </div>
        <div class="col-md-3 text-center">
            <img src="{% static 'images/bucaramanga.jpg' %}" alt="Bucaramanga" class="img-fluid rounded" style="height: 200px; width: 100%;">
            <h6>Bucaramanga</h6>
        </div>
        <div class="col-md-3 text-center">
            <img src="{% static 'images/pereira.jpg' %}" alt="Pereira" class="img-fluid rounded" style="height: 200px; width: 100%;">
            <h6>Pereira</h6>
        </div>
        <div class="col-md-3 text-center">
            <img src="{% static 'images/santamarta.jpg' %}" alt="Santa Marta" class="img-fluid rounded" style="height: 200px; width: 100%;">
            <h6>Santa Marta</h6>
        </div>
    </div>
</div>

<!-- Botón para ir a la página de eventos -->
<div class="container text-center mt-5">
    <a href="{% url 'events' %}" class="btn btn-primary btn-lg w-100" style="background-color: #001f3f; border-color: #00008b;">Descubre los eventos que tenemos para ti</a>
</div>

{% endblock %}